@font-face {
  font-family: Open Sans Condensed;
  /* Имя шрифта */
  src: url("../assets/fonts/OpenSansCondensed-Bold.ttf");
  /* Путь к файлу со шрифтом */
}
@mixin text-shadow-param {
  text-shadow: 0px 7px 6px rgba(0, 0, 0, 0.4);
}
$main-font-color: #fff1f1;

P {
  font-family: Open Sans;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("../assets/img/main_backgound_image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $main-font-color;
  font-family: Open Sans Condensed;
  @include text-shadow-param;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.content__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.content__description_header {
  font-size: 5rem;
  margin-bottom: 4rem;
}
.content__description_text {
  font-size: 1.5rem;
  color: rgba(255, 241, 241, 0.53);
}
.content__description_text:hover {
  color: $main-font-color;
}
.content__button {
  font-size: 1.5rem;
  padding: 20px;
  border: 3px solid $main-font-color;
  border-radius: 5px;
  margin-bottom: 8rem;
}
.content__button:hover {
  border: 3px solid rgb(146, 146, 248);
  color: rgb(146, 146, 248);
}
